.app {
  display: grid;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr);

  min-height: 100vh;

  background-color: var(--color-background);
}

/* ========================================
   Application content
   ======================================== */

.app__content {
  display: flex;
  flex-direction: column;

  min-width: 0;
  min-height: 100vh;
}

/* ========================================
   Main
   ======================================== */

.app__main {
  flex: 1;

  min-width: 0;

  overflow-x: hidden;

  background-color: var(--color-background);
}

/* ========================================
   Responsive
   ======================================== */

@media (max-width: 768px) {
  .app {
    grid-template-columns: 72px minmax(0, 1fr);
  }
}